{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} Home {% endblock %}
{% block content %}

  <div class = "container-fluid">
    <h1>What is your mood today?</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col"> <a href="/sad">Sad <br /> <img src = "https://i.ibb.co/SnYZKV9/sad-01.png" style = "height:50px; width:75px;" ></a></th>
      <th scope="col"> <a href="/happy">Happy <br /> <img src = "https://i.ibb.co/dWxyggh/happy-01.png" style = "height:50px; width:75px;"></a></th>
      <th scope="col">  <a href="/anxious">Anxious  <br /><img src = "https://i.ibb.co/1JPCxvr/anxious-01.png" style = "height:50px; width:75px;"></a></th>
      <th scope="col">  <a href="/angry">Angry  <br /><img src = "https://i.ibb.co/S0PcswZ/angry-01.png" style = "height:50px; width:75px;"></a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
  </div>
 {% endblock %}
